$fonts1: "PT Sans", sans-serif;
$fonts2:"Playfair Display", serif;
$fonts3:'Post No Bills Jaffna Medium',sans-serif;

$bg-header-info:rgb(0, 0, 0);
$bg-header-nav: rgb(15, 15, 15);
$color-working-data:rgb(150, 150, 150);
$color-nav-link:rgb(255, 255, 255);
$bg-nav-link:rgb(31, 31, 31);
$bg-products-product:rgb(25, 27, 28);
$color-data-price:rgb(208, 208, 208);
$activ-bg:rgb(89, 87, 87);
$form-input-bg:rgba(255, 255, 255, 0.4);